{% extends 'base.html' %}

{% block title %} About {% endblock title %}
{% block aboutactive %} active {% endblock aboutactive %}

{% block body %}

<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">CodeWithAzam</h1>
      <p>I’m a novelist, a copyeditor, a writing coach, a backpacker, and a whole bunch of other things.
        I love keeping busy, but I especially love writing, teaching, and helping writers.</p>
      <p><a class="btn btn-primary btn-lg" href="/about" role="button">Learn more &raquo;</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Fiction Books</h2>
        <p>"Fiction" refers to literature created from the imagination. Mysteries, science fiction, romance, fantasy, chick lit, crime thrillers are all fiction genres. Examples of classic fiction include To Kill a Mockingbird by Harper Lee, A Tale of Two Cities by Charles Dickens, 1984 by George Orwell and Pride and Prejudice by Jane Austen. Our Fiction Department also has a large selection of popular movies and television shows on DVD.</p>
        <p><a class="btn btn-secondary" href="/about" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Non-Fiction Books</h2>
        <p>"Nonfiction" refers to literature based in fact. It is the broadest category of literature. The Nonfiction Department has books and videos in many categories including biography, business, cooking, health and fitness, pets, crafts, home decorating, languages, travel, home improvement, religion, art and music, history, self-help, true crime, science and humor. We also have a section of popular and award-winning documentary DVDs.</p>
        <p><a class="btn btn-secondary" href="/about" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Biographies</h2>
        <p>A book about a single person's life and work, but probably with a great deal, too, about their family and friends, relations and children, colleagues and acquaintances. The word 'biography' means 'life-writing': the two halves of the word derive from medieval Greek bios, 'life', and graphia, 'writing'.</p>
        <p><a class="btn btn-secondary" href="/about" role="button">View details &raquo;</a></p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>

<footer class="container">
  <p>&copy; Company 2017-2020</p>
</footer>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="/docs/4.5/assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="/docs/4.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script></body>
</html>

{% endblock %}